/*-----------------------云朵朵首页-------------------------*/
.pc_wrap{max-width:640px;margin: 0 auto;min-height: 9rem;}
.index{height:4.13rem;width:100%;background: #fff;}
.index .top{height:2.832rem;}
.index .top img{width:6.4rem;}
.index .top .op{display:block;width:0.649rem;height:0.649rem;background: #000 url("../images/people.png") no-repeat center center;opacity: .6;border-radius:0.118rem;background-size:0.354rem 0.3894rem; position: absolute;right:0.2065rem;top:0.2477rem;}
.index .bottom{height:1.298rem;font-size: 0.21239999999999998rem;color:#999;text-align: center;line-height:2.006rem;}
.index .flo{width:1.6873999999999998rem;height:1.3098rem;position: absolute;left:50%;margin-left: -0.8436999999999999rem;top:2.2773999999999996rem;}
.body{background:#f5f5f5;padding:0.1652rem 0 0.6136rem; }
.body .up ul li a{display: block;width:100%;height:4.72rem;background: #fff;text-align: center;margin-top: 0.8732rem;    padding: 0.6313rem 0.2006rem 0;
    box-sizing: border-box;}
.body .up ul li a .up{width:5.722999999999999rem;height:2.773rem;margin-top:0.6372rem; }
.body .up ul li a h3{font-size:0.28319999999999995rem;color:#6dd1c9;text-align: center;margin: 0.1rem auto 0.236rem;}
.body .up ul li a span{font-size:0.28319999999999995rem;color:#999;}
.body .up ul li a .icon{width:1.062rem;height:1.062rem;background: #fff;border-radius: 50%;    overflow: hidden;}
.body .up ul li a .icon .in{width:0.944rem;height:0.944rem;background: #88d9d2;margin: 0.059rem;border-radius: 50%;text-align: center;}
.body .up ul li a .icon .in .b{width:0.5546rem;height:0.28319999999999995rem;margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;}
.body .up ul li a .icon{position: absolute;left:50%;margin-left: -0.531rem;top:-0.531rem;}
.body .center .down{width:94%;margin: 0 auto;}
.body .center .down .hp{padding-top: .59rem;}
.body .center .down .hp .addone{    width: 100%;
    overflow: hidden;}
.body .center .down .hp h3{text-align: center;margin: 0.053099999999999994rem 0 0.4012rem;}
.body .center .down .hp h3 .u{width:0.9145rem;height:0.4779rem;}
.body .center .down .hp{overflow: hidden;}
.body .center .down .hp ul{width:105%;}
.body .down .hp ul li{ float: left;
    width: 45%;
    margin-right: 5%;}

.body .center .down .hp ul li{}
.body .center .down .hp ul li a{border:8px solid #fff;overflow: hidden;border-radius: 50%;display: block;
    margin:0 0 0.5074rem;}
.body .center .down .hp ul li a .d{width:3rem;display: block;}


.body .center .down .hj .addone{    width: 100%;
    overflow: hidden;}
.body .center .down .hj h3{text-align: center;margin: 0.053099999999999994rem 0 0.4012rem;}
.body .center .down .hj h3 .u{width:0.9145rem;height:0.4779rem;}
.body .center .down .hj{overflow: hidden;}
.body .center .down .hj ul{width:105%;}
.body .down .hj ul li{ float: left;
    width: 45%;
    margin-right: 5%;}

.body .center .down .hj ul li{}
.body .center .down .hj ul li a{border:8px solid #fff;overflow: hidden;border-radius: 50%;display: block;
    margin:0 0 0.5074rem;}
.body .center .down .hj ul li a .d{width:3rem;display: block;}
.footer{height:1rem;background: #fff;}
.footer .f_img{    width: 1.6873999999999998rem;
    height: 1.3098rem;
    position: absolute;
    left: 50%;
    margin-left: -0.8436999999999999rem;
    top: -.59rem;}
.i_aside{    position:fixed;
    right:0.2065rem;
    bottom: 2.8556rem;z-index: 130;}
.i_aside .up,.i_aside .d{    display: block;
    width: 0.6254rem;
    height: 0.6254rem;
    border-radius: 0.118rem;
     border:2px solid #fff;}
.i_aside .up{background: #f7c4c0 url("../images/people.png") no-repeat center center;background-size: 0.354rem 0.3894rem;}
.i_aside .d{margin-top: 0.0767rem;background: #a0918a url("../images/up.png") no-repeat center center;background-size:0.354rem 0.3894rem;}
/*-----------------------产品详情-640-------------------------*/
.details_banner{height:6.4rem;}
.package{padding: .38rem 0 .28rem;background: #fff;}
.package h3{font-size: .36rem;color:#333;    margin-left: -.2rem;}
.package .t{font-size: .24rem;color:#999;margin: .28rem 0;}
.package .price{font-size: .36rem;color:#6dd1c9;display: block;}
.package .cycle .u{font-size: .18rem;color:#333;margin:.5rem 0 .14rem;}
.package .d{overflow: hidden;}
.package .d .btn{font-size: .22rem;color:#999;display: block;width:1.16rem;height:1.16rem;background: #fff;border:1px solid #e3e3e3;border-radius: 50%;text-align: center;float: left;margin-right: .44rem;}
.package .d .btn.on{color:#fff;background: #6dd0c8;}
.package .d .btn .m,.package .d .btn .n{display: block;}
.package .d .btn .m{    margin-top: .23rem;}
.package .p{margin: .42rem 0 .32rem;}
.package .p .f{font-size: .18rem;color:#333;}
.package .p .b{font-size: .18rem;color:#f9a49d;}
.package h4{font-size: .18rem;color:#333;margin: .08rem 0 .16rem;}
.package .btn{overflow: hidden;}
.package .btn .btn1{font-size: .22rem;color:#999;padding: .2rem .23rem;border:1px solid #ddd;background: #fff;display: block;float: left;margin:0 .32rem .22rem 0;}
.package .btn .btn1.on{color:#fff;background:#f9a49d;}
.grey{background:#f4f4f4;}
.t_details{margin: .34rem 0 1.03rem;}
.t_details h3{background: #fff;text-align: center;height:1.32rem;    line-height: 1.8rem;}
.t_details h3 img{width:1.15rem;height:.6rem;}
.t_details ul li{margin-bottom: .17rem;}
.t_details ul li a img{width:6.4rem;height:4.27rem;}
.details_f{overflow: hidden;height:.88rem;    position: fixed;
    bottom: 0;
    background: #fff;
    z-index: 130;}
.details_f .l{width:1.66rem;height:.87rem;border-top:1px solid #e2e2e2;float: left;    text-align: center;}
.details_f .l img{width:.72rem;height:.54rem;    margin-top: .15rem;}
.details_f .r{width:4.74rem;float: left;font-size: .3rem;color:#fff;background: #6dd0c8;text-align: center;line-height:.88rem; }
/*-----------------------订单详情-640-------------------------*/
.param{padding: .2rem 0 0 0;overflow: hidden;background: #fff;}
.param .center p{overflow: hidden;margin-bottom: .2rem;}
.param .center p .l{display: block;float: left;width:22%;font-size: .22rem;color:#666;}
.param .center p .r{display: block;float: right;width:76%;font-size: .22rem;color:#999;text-align: right;}
.param .center p .ser{display: block;float: right;width:76%;font-size: .22rem;color:#f9a49d;text-align: right;}

.man{margin-top: .13rem;padding: .18rem 0 .3rem;background:#fff url("../images/line.jpg") repeat-x bottom;}
.man .up{overflow: hidden;}
.man .up .l{display: block;float: left;font-size: .22rem;color:#333;width:40%;background:url("../images/man.png") no-repeat left center;background-size:0.3rem 0.3rem;    padding-left: .36rem;
    box-sizing: border-box;}
.man .up .r{display: block;float: right;font-size: .22rem;color:#333;max-width:60%;text-align: right;background:url("../images/phone.png") no-repeat left center;background-size:0.21rem 0.29rem;padding-left: .31rem;
    box-sizing: border-box;}
.man .down{font-size: .18rem;color:#666;background:url("../images/loca.png") no-repeat left top;background-size:.24rem .28rem; padding-left: .31rem;margin-top: .2rem;    line-height: .27rem;}
.pro{background: #fff;}
.pro .up{overflow: hidden;padding: .11rem 0;}
.pro .up .l{float: left;margin-right: .24rem;}
.pro .up .l img{border:1px solid #f3f3f3;width:1.18rem;height:1.18rem;
    display: block;}
.pro .up .r{float: left;width:4.1rem;    height: 1.2rem;}
.pro .up .r h3{font-size: .28rem;color:#333;}
.pro .up .r .pri{font-size: .22rem;color:#999;position: absolute;
    bottom: 0;}
.param2{padding-top: .18rem;border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;background: #fff;}
.param2 .p{font-size: .18rem;color:#999;margin-bottom: .24rem;}
.time{background: #fff;border-bottom: 1px solid #e7e7e7;}
.time ul li{overflow: hidden;border-bottom: 1px solid #e5e5e5;padding: .15rem 0;}
.time ul li:last-child{border:0;}
.time ul li span{display:block;font-size: .22rem;color:#333;}
.time ul li .l{float: left;}
.time ul li .r{float: right;}

.quota{margin-top: .14rem;background: #fff;padding: .1rem 0;}
.quota .p{overflow: hidden;margin: .04rem 0;}
.quota .p .l{color:#333;font-size: .22rem;display: block;float: left;}
.quota .p .r{color:#333;font-size: .22rem;display: block;float: right;}
.quota .p .blue{color:#74d3cb;font-size: .22rem;display: block;float: right;}

.order_f{height:.71rem;background: #fff;border-top:1px solid #e2e2e2;    position: fixed;
    bottom: 0;
    width: 6.4rem;
    z-index: 130;}
.order_f .btn{font-size: .24rem;color:#fff;background:#74d3cb;width:1.78rem;height:.72rem;text-align: center;line-height: .72rem;float: right;}
/*-----------------------订单中心-640-------------------------*/
.o_center{overflow: hidden;
    z-index: 130;
    position: fixed;
    top: 0;
    width: 6.4rem;}
.o_center ul li{float: left;width:25%;}
.o_center ul li a{font-size: .24rem;color:#fff;display:block;height:.82rem;text-align: center;line-height: .82rem;background:rgba(137,219,212,1);}
.o_center ul li a.on{background:#6dd1c9;}
.lists ul li{background: #fff;margin-bottom: .16rem;}
.lists ul li .up{overflow: hidden;padding: .19rem 0;border-bottom:1px solid #ededed;}
.lists ul li .up .l{font-size: .18rem;color:#999;float: left;background:url("../images/file.png") no-repeat;background-size:.24rem .27rem;padding-left: .43rem;}
.lists ul li .up .r{font-size: .18rem;color:#999;float: right;}

.lists ul li .m{overflow: hidden;padding:.11rem 0 .02rem;border-bottom: 1px solid #e1e1e1;}
.lists ul li .m .l{float: left;margin-right: .12rem;}
.lists ul li .m .r{float: right;width:4.06rem;}
.lists ul li .m .r h4{font-size: .22rem;color:#333;}
.lists ul li .m .l a img{width:1.66rem;height:1.66rem;}
.lists ul li .m .r p{font-size: .18rem;color:#999;height:.7rem;display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;}
.lists ul li .m .r .send{font-size: .18rem;color:#999;}
.lists ul li .m .r .price{font-size:.22rem;color:#74d3cb;}
.lists ul li .d{overflow: hidden;padding: .16rem 0;border-bottom: 1px solid #e1e1e1;}
.lists ul li .d .l{float: left;    margin-top: .05rem;}
.lists ul li .d .l .o{color:#999;font-size: .22rem;}
.lists ul li .d .l .t{color:#f9a49d;font-size: .22rem;}
.lists ul li .d .l .g{color:#999;font-size: .22rem;}
.lists ul li .d .r{float: right;}
.lists ul li .d .r .btn1{font-size: .22rem;color: #666666;background:#fff;width:1.64rem;height:.5rem;text-align: center;line-height: .5rem;border-radius:5px;display: block;margin-left: .22rem;border:1px solid #d8d8d8;float: left;}
.lists ul li .d .r .btn2{font-size: .22rem;color:#fff;background:#74d3cb;width:1.64rem;height:.5rem;text-align: center;line-height: .5rem;border-radius:5px;display: block;margin-left: .22rem;border:1px solid #ddf4f2;float: left;}
/*-----------------------会员中心-640-------------------------*/
.member{height:1.54rem;background:url("../images/top.jpg") no-repeat;background-size:6.4rem 2.38rem;overflow: hidden;padding: .42rem 0 .42rem .53rem;line-height: 1.54rem;}
.member .l{float: left;}
.member .l .head{display: block;height:1.4rem;width:1.4rem;border:7px solid rgba(255,255,255,.3);border-radius: 50%;float: left;}
.member .l .word{font-size: .24rem;color:#444;float: left;margin-left: .2rem;}
.member .l .head img{height:1.4rem;width:1.4rem;}
.member .r{float: right;}
.member .r .set{font-size: .24rem;color:#666;width:1.08rem;height:.36rem;line-height: .36rem;display: inline-block;    border-radius: 20px 0 0 20px;background:#fff url("../images/l.png") no-repeat 1.1rem center;background-size:.12rem .22rem;padding-left: .34rem;}
.my_order{}
.my_order .l_p{padding-left: .26rem;width:6.14rem;background: #fff;}
.my_order .l_p .up{border-bottom: 1px solid #e4e4e4;padding: .17rem 0;background: #fff;}
.my_order .l_p .up .fl{color:#333;font-size: .22rem;background: url("../images/order.png") no-repeat left center;background-size:.2rem .23rem;padding-left: .38rem; }
.my_order .l_p .up .fr{font-size: .22rem;color:#999;background:#fff url("../images/l.png") no-repeat right center;background-size:.12rem .22rem;padding-right: .15rem;    margin-right: .19rem;}
.my_order .l_p .down{padding: .1rem .13rem .18rem;background: #fff;}
.my_order .l_p .down ul{overflow: hidden;}
.my_order .l_p .down ul li{    width: 1.8rem;text-align: center;float: left;}
.my_order .l_p .down ul li a .p{width:.84rem;height:.84rem;}
.my_order .l_p .down ul li a .data span{font-size: .18rem;color:#666;}
.my_order .l_p .down ul li a .data .red{color:#f9a49d;}
.my_order .l_p .down ul li a .data .blue{color:#73d3cb;}
.query{margin-top: .12rem;background: #fff;    padding-left: .26rem;width: 6.14rem;}
.query ul li{padding: .17rem 0;border-bottom: 1px solid #e4e4e4;}
.query ul li:last-child{border:0;}
.query ul li a{    display: block;
    overflow: hidden;}
.query ul li a .fl{}
.query ul li a .fl .p{width:.28rem;height:.27rem;    display: inline-block;
    vertical-align: middle;}
.query ul li a .fl .w{font-size: .22rem;color:#333;    display: inline-block;
    vertical-align: middle;}
.query ul li a .fr{background: #fff url("../images/l.png") no-repeat .1rem center;height: .38rem;background-size: .12rem .22rem;padding-right: .44rem;}
.m_f{margin: .36rem 0 0;}
.m_f .btn{background: #fff;width:100%;height:.7rem;text-align: center;line-height:.7rem;font-size: .22rem;color:#6dd1c9;display: block;}
/*-----------------------提交订单-640-------------------------*/
.submit_man{display:none;padding: .18rem 0 .26rem;background:#74d3cb;overflow: hidden;}
.submit_man .center{ width: 5.69rem;float: left;margin-left: 3%;}
.submit_man .add{width:.32rem;float: left;    height: 1.09rem;    text-align: right;line-height: 1.09rem;}
.submit_man .add .p{width:.13rem;height:.22rem;}
.submit_man .up{overflow: hidden;}
.submit_man .up .l{display: block;float: left;font-size: .22rem;color:#fff;width:40%;background:url("../images/manw.png") no-repeat left center;background-size:0.3rem 0.3rem;    padding-left: .36rem;
    box-sizing: border-box;}
.submit_man .up .r{display: block;float: right;font-size: .22rem;color:#fff;max-width:60%;text-align: right;background:url("../images/phonew.png") no-repeat left center;background-size:0.21rem 0.29rem;padding-left: .31rem;
    box-sizing: border-box;}
.submit_man .down{font-size: .18rem;color:#fff;background:url("../images/locaw.png") no-repeat left top;background-size:.24rem .28rem; padding-left: .31rem;margin-top: .2rem;    line-height: .27rem;}
.submit_man0{    background: #74d3cb;
    overflow: hidden;
    height: .84rem;
    line-height: .84rem;}
.submit_man0 .center{ width: 5.69rem;float: left;margin-left: 3%;}
.submit_man0 .add{width:.32rem;float: left;    height:0rem;    text-align: right;line-height: .84rem;}
.submit_man0 .add .p{width:.13rem;height:.22rem;}
.submit_man0 .up{overflow: hidden;}
.submit_man0 .up .l{display: block;float: left;font-size: .22rem;color:#fff;width:40%;background:url("../images/manw.png") no-repeat left center;background-size:0.3rem 0.3rem;    padding-left: .36rem;
    box-sizing: border-box;}
.submit_man0 .up .r{display: block;float: right;font-size: .22rem;color:#fff;max-width:60%;text-align: right;background:url("../images/phonew.png") no-repeat left center;background-size:0.21rem 0.29rem;padding-left: .31rem;
    box-sizing: border-box;}
.submit_man0 .down{font-size: .18rem;color:#fff;background:url("../images/locaw.png") no-repeat left center;background-size:.24rem .28rem; padding-left: .5rem;line-height: .84rem;}


.pro .up .r1{float: left;width:4.1rem;    height: 1.2rem;}
.pro .up .r1 h3{font-size: .28rem;color:#333;}
.pro .up .r1 .pri{font-size: .28rem;color:#999;position: absolute;
    bottom: 0;}
.pro .up .r1 p{font-size: .18rem;color:#999;line-height: .25rem;display: -webkit-box;height:.5rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;}
.send_purpose{    margin-top: .14rem;background: #fff;}
.send_purpose{background: #fff;border-bottom: 1px solid #e7e7e7;}
.send_purpose ul .li{overflow: hidden;border-bottom: 1px solid #e5e5e5;padding: .23rem 0;}
.send_purpose ul .li:last-child{border:0;}
.send_purpose ul .li span{display:block;font-size: .22rem;color:#333;}
.send_purpose ul .li .fl{width:1.24rem;}
.send_purpose ul li .r{float: left}
.send_purpose ul li .r ul li{float: left;margin-right: .4rem;}
.send_purpose ul li .r ul li:last-child{margin-right:0;}
.send_purpose ul li .r ul li a{font-size: .22rem;background: #fff;color:#999;padding: .09rem .42rem;border:2px solid #efefef;}
.send_purpose ul li .r ul li a.p2{    padding: .09rem .28rem;}
.send_purpose ul li .r ul li a.on{color:#fff;background:#f9a49d;}
.integ{background: #fff;padding: .24rem 0 .32rem;}
.integ h3{font-size: .22rem;color:#333;}
.integ .input{border:1px solid #ededed;width:4.72rem;margin: .32rem 0 0 .42rem;}
.integ .input input{width:3.54rem;height:.58rem;outline: 0;border:0;    padding: .1rem;box-sizing: border-box;}
.integ .input .btn{width:1.17rem;height:.58rem;background: #f9a9a2;color:#fff;text-align: center;line-height: .58rem;display: inline-block;border:0;}
.integ p{font-size: .18rem;color:#999; margin: .22rem 0 0 .42rem;}
.integ p .red{color:#f9aba5;}
.submit_f{
    position: fixed;
    bottom: 0;
    width: 6.4rem;
    z-index: 120;}
.submit_f .btn{font-size: .28rem;color:#fff;height:.72rem;width:100%;background: #74d2ca;text-align: center;line-height:.72rem;display: block;}
/*-----------------------积分-640-------------------------*/
.integral{height:2.84rem;background: url("../images/in_top.jpg") no-repeat;background-size:6.4rem 2.84rem;}
.integral .bottom{height:.83rem;background: rgba(0,0,0,.2);    position: absolute;
width: 100%;bottom:0;    line-height: .83rem;}
.integral .bottom .fl{color:#fff;font-size: .22rem;}
.integral .bottom .fr{color:#fff;font-size: .36rem;}
.bills{background: #fff;}
.bills ul li{border-bottom: 1px dashed #e2e2e2;padding: .18rem 0;overflow: hidden;}
.bills ul li .fl{line-height: .3rem;}
.bills ul li .fl span{display:block;}
.bills ul li .fl .up{font-size: .22rem;color:#333;}
.bills ul li .fl .down{font-size: .18rem;color:#999;}
.bills ul li .fr{font-size: .36rem;color:#f9a49d;line-height: .35rem;margin-top: .13rem;}
/*-----------------------吐槽建议-640-------------------------*/
.proposal{height:11.38rem;background: url("../images/pro.jpg") no-repeat;background-size:6.4rem 11.38rem;     overflow: hidden;}
.proposal .inside{margin: 3.57rem auto 0;    width: 5.39rem;}
.proposal .inside .o{border:1px solid #e5e7f4;    border-radius: 7px;margin-bottom:.3rem;}
.proposal .inside .o .fl{font-size: .22rem;color: #fff;border-right:1px solid #e5e7f4;    padding: .13rem .17rem;background:rgba(51,51,51,.5);    width: 1.1rem; text-align: justify;text-align-last: justify;-moz-text-align-last: justify;}
.proposal .inside .o .fr{font-size: .22rem;color: #fff;padding: .13rem .25rem .13rem .32rem;    width: 3.35rem;background:rgba(51,51,51,.5);border:0;}
.proposal .inside .o .option{position: absolute;    left: 0rem;
    top: .61rem;    z-index: 10;}
.proposal .inside .o .option.hide{display: none;}
.proposal .inside .o .option ul li{    font-size: .22rem;
    color: #fff;
    padding: .13rem .25rem .13rem .32rem;
    width: 3.35rem;
    background: rgba(51,51,51,.5);
    border: 0;}
.proposal .inside .o .option ul li.on{background: rgba(51,51,51,1);}
.proposal .inside .o .option ul li:hover{background: rgba(51,51,51,1);}
.proposal .inside .o input.fr{padding: .16rem .25rem .16rem .32rem;}
.proposal .inside .o .fr .l{float: left;}
.proposal .inside .o .fr .r{width:.24rem;height:.35rem;float: right;background: url("../images/down.png") no-repeat right center;background-size:.24rem .35rem; }
.proposal .inside .te{    border: 1px solid #e5e7f4;
    border-radius: 7px;    font-size: .22rem;
    color: #fff;
    padding: .13rem .17rem;
    width: 5.03rem;    height: 1.7rem;    outline: 0;
    background: rgba(51,51,51,.5);margin-bottom: .4rem;}
.proposal .inside .te::-webkit-input-placeholder {color:#fff;}
.proposal .inside .sub{font-size: .28rem;background: #000;color:#fff;width: 5.41rem;height: .81rem;    border-radius: 7px;}
/*-----------------------我的账户640-------------------------*/
.account{height:2.49rem;background:url("../images/account.jpg") no-repeat;}
.menu ul li{background: #fff;    padding: .18rem .26rem .18rem .28rem;margin-top: .15rem;}
.menu ul li a{overflow: hidden;display: block;}
.menu ul li a .fl{font-size: .22rem;color:#333;}
.menu ul li a .fr img{    margin-top: .07rem;}
.menu ul li a .fr2{font-size: .22rem;color:#999;float: right;    margin-right: .18rem;}
/*-----------------------查物流640-------------------------*/
.logi{height:2.49rem;background:url("../images/logi.jpg") no-repeat;}
.query1{overflow: hidden;margin: .5rem auto;width:5.9rem;border: 1px solid #ddd;border-radius: 7px;background: #fff;}
.query1 .fl{background: #fff;color:#ccc;font-size: .22rem;border: none;padding: .16rem 0 .16rem .19rem;width: 4.3rem;}
.query1 .fr{color:#fff;font-size: .28rem;background:#88d9d2;padding: .15rem .38rem;}
/*-----------------------养花贴士640-------------------------*/
.flower{background: url("../images/flower.jpg") repeat-y;background-size:6.4rem 11.38rem;}
.flower .center .top img{width:1.9rem;height:1.9rem;display: block;}
.flower .center .bottom{background: #fff;    border-radius: 15px;margin: .7rem 0 .2rem 0;    padding-bottom: .29rem;}
.flower .center .bottom ul li{border-bottom: 1px solid #858585;overflow: hidden;    padding: .22rem 0;margin:0 .2rem;}
.flower .center .bottom ul li .fl{}
.flower .center .bottom ul li .fl img{width:1.8rem;height:1.2rem;    display: block;}
.flower .center .bottom ul li .fr{float:left;width:3.06rem;margin-left: .23rem;}
.flower .center .bottom ul li .fr h3{    line-height: .24rem;}
.flower .center .bottom ul li .fr h3 a{font-size: .24rem;color:#333;}
.flower .center .bottom ul li .fr p{font-size: .18rem;color:#999;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;    line-height: .3rem;    margin-top: .04rem;}
/*-----------------------我的二维码合640-------------------------*/
.qrcode{    overflow: hidden;
    z-index: 130;
    position: fixed;
    top: 0;
    width: 6.4rem;}
.qrcode nav ul li{float: left;width:50%;background:#8adad4;    padding: .09rem 0;}
.qrcode nav ul li.on{background: #6dd1c9;}
.qrcode nav ul li a span{display: block;text-align: center;}
.qrcode nav ul li a .top{}
.qrcode nav ul li a .top img{width:.48rem;height:.46rem;}
.qrcode nav ul li a .bottom{font-size: .22rem;color:#fff;}
.invitate{padding: 0 .53rem;margin-top: .5rem;}
.invitate h3{font-size: .28rem;color:#6dd1c9;text-align: center;}
.invitate p{font-size: .22rem;color:#999;    line-height: .42rem;    margin-top: .36rem;}
.invitate .finger{    margin: 1.18rem auto .3rem;width: 2.55rem;}
.invitate .finger .fl{}
.invitate .finger .fl img{width:.72rem;height:.72rem;    display: block;}
.invitate .finger .fr{font-size: .22rem;color:#f9a49d;    width: 1.6rem;}
.qr_pic{height:4.27rem;background:url("../images/qrcode_pic.jpg") no-repeat;background-size: 6.4rem 4.27rem;}
.qr_pic .qr_wrap{width:2.14rem;height:2.14rem;background:rgba(255,255,255,.4);border-radius: 25px;overflow: hidden;position: absolute;left: 50%;margin: -1.07rem 0 0 -1.07rem;top: 50%;}
.qr_pic .qr_wrap .qr_m{width:1.9rem;height:1.9rem;background: #fff;    margin: .12rem;border-radius: 25px;}
.qr_pic .qr_wrap .qr_m img{width:1.53rem;height:1.53rem;    margin: .185rem;}
.options{display: none;}
.options.on{display: block;}
.already h3{font-size: .28rem;color:#6dd1c9;text-align: center;height:1.25rem;line-height: 1.25rem;background: #fff;}
.already .wx_li .li_top{overflow: hidden;background:#eee;padding: .13rem .5rem}
.already .wx_li .li_top .fl{color:#333;font-size: .22rem;}
.already .wx_li .li_top .fr{color:#333;font-size: .22rem;}
.already .wx_li .center{}
.already .wx_li .center li{overflow: hidden;border-bottom:1px dashed #e8e8e8;padding: .11rem 0;}
.already .wx_li .center li .fl{font-size: .22rem;color:#999;padding-left: .3rem;}
.already .wx_li .center li .fr{font-size: .24rem;color:#f9a49d;padding-right: .53rem;}
/*-----------------------绑定手机合640-------------------------*/
.binding{margin-top: .84rem;}
.binding .frame{background: #fff;    padding: .16rem 0;border-radius: 10px;margin-bottom: .25rem;}
.binding .frame .fl{width:.83rem;height:.4rem;    text-align: center;}
.binding .frame .fl img{margin-top: .06rem;width:.26rem;height:.31rem;}
.binding .frame .fl1{float: left;    margin-top: .03rem;}
.binding .frame .fl1 input{color:#999;font-size:.22rem;border:0;width: 4.86rem;}
.binding .frame2{background: #fff;    padding: .13rem 0;border-radius: 10px;margin-bottom: .25rem;}
.binding .frame2 .fl{width:.83rem;height:.4rem;    text-align: center;
    margin-top: .04rem;}
.binding .frame2 .fl1{float: left;    margin-top: .03rem;}
.binding .frame2 .fl img{margin-top: .02rem;width:.26rem;height:.31rem;}
.binding .frame2 .fl1 input{color:#999;font-size:.22rem;border:0;width: 2.43rem;}
.binding .frame2 .bind_code{float: left;width:1.1rem;height:.46rem;}
.binding .frame2 .change{float: left;margin-left: .1rem;}
.binding .frame2 .change a{display: block;font-size: .22rem;color:#1cc9c0;border:2px solid #3ad0c8;border-radius: 5px;background:url("../images/change.png") no-repeat .07rem center;background-size: .24rem .2rem;padding: .035rem .12rem .035rem .38rem;}
.binding .send{font-size: .24rem;color:#fff;display: block;width:100%;height:.65rem;line-height:.65rem;text-align:center;border-radius: 10px;background: #ade6e2;margin-bottom: .25rem;}
.binding .send.on{background:#6dd1c9;}
.binding .step{display: none;}
.binding .step.on{display:block;}
/*-----------------------提交订单弹出层合640-------------------------*/
.winbox{position:fixed;z-index:120;left:0;top:0;width:100%;height:100%;background:url(../images/darkbg.png) repeat;overflow:hidden}
.winclick{position:absolute;left:0;top:0;width:100%;height:100%}
.proinfocheck,.proinfocity{width:100%;background:#fff;position:absolute;left:0;bottom:0;height:80%}
.carwintit{background:#fff;width:100%;line-height:.72rem;height:.72rem;text-align:center;font-size:.28rem;position:absolute;left:0;top:0;z-index:5;color:#73d3cb;border-bottom: 1px solid #73d3cb;}
.carwintit a{z-index:5;position:absolute;right:5%;top:.25rem;display:block;width:.28rem;height:.28rem;background:url(../images/close01.png) no-repeat center center;background-size:.28rem .28rem;}
.proinfocheck .box02{width:100%;height:100%;overflow:auto}
.proinfocheck .bg02{width:100%;height:.72rem;clear:both}
.proinfocheck .box02 .p1{display:block;padding:0rem 3% 0rem 20%;width:77%;line-height:.72rem;min-height:.72rem;border-bottom:1px solid #eee}
.proinfocheck .box02 .p11{height:1.36rem;display:block;padding:0rem 3% 0rem 20%;width:77%;line-height:.72rem;min-height:.72rem;border-bottom:1px solid #eee}
.proinfocheck .box02 .p11 span{position:absolute;left:3%;font-size:.22rem;color:#393939;}
.proinfocheck .box02 .p11 .text.error{padding-right:10%;width:90%;background-size:auto .6rem}
.proinfocheck .box02 .p11 textarea{width:100%;    height: 1.24rem;border:none;line-height:.5rem;padding-top:.12rem;outline: 0;}
.proinfocheck .box02 .p1 span{position:absolute;left:3%;font-size:.22rem;color:#393939;}
.proinfocheck .box02 .p1 .text.error{padding-right:10%;width:90%;background-size:auto .6rem}
.proinfocheck .box02 .p1 textarea{width:100%;    height: 1.24rem;border:none;line-height:.5rem;padding-top:.12rem}
.proinfocheck .box02 .p1 textarea.error{padding-right:10%;width:90%;background-size:auto .6rem}
.proinfocheck .box02 .p1 p{padding-right:.4rem;background:url(../images/arrow05.png) no-repeat 4.7rem center;background-size:.12rem .22rem;text-align:right;color:#999;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size: .22rem;}
.proinfocheck .box02 .p2{display:block;padding:.2rem 3% .2rem 10%;width:81%;line-height:1rem;min-height:1rem;border-bottom:1px solid #eee;margin:0 auto;background:url(../images/ico/product02-1.png) no-repeat left center;background-size:.6rem}
.proinfocheck .box02 .p2sel{background-image:url(../images/ico/product02.png)}
.proinfocheck .bg02{width:100%;height:.72rem;clear:both}
.proinfocheck .btnbox{position:absolute;left:0;bottom:0;z-index:10;background:#fff;line-height:1.3rem;height:1.3rem;width:100%}
.proinfocheck .btnbox .sub01{width:100%}
.proinfocheck .btnbox .sub{position:absolute;left:auto;right:0;bottom:0;width:40%}
.proinfocheck .sub01{width:50%}
.proinfocheck .sub{position:absolute;left:0;bottom:0;z-index:10;background:#74d3cb;color:#fff;text-align:center;line-height:.72rem;height:.72rem;width:100%;display:block;font-size:.28rem}
.proinfocheck,.proinfocity{width:6.4rem;background:#fff;position:absolute;left:50%;bottom:0;height:7.12rem;margin-left: -3.2rem;}
.winscroll{width:100%;height:100%;overflow:auto}
.winscroll .adresslist{width:93%;margin:0 auto}
/*.adresslist_sel{border:1px solid #f60}*/
.adresslist{width:94%;padding:0 3%;background:#fff;margin-top:.2rem}
.adresslist h3{font-size:.22rem;line-height:.5rem;height:.5rem;width:100%}
.adresslist h3 span{position:absolute;right:0;top:0}
.adresslist .p1{color:#777;padding-bottom:.1rem;font-size: .22rem;}
.adresslist .p2{width:100%;border-top:1px solid #e5e5e5;    line-height: .57rem;
    height: .57rem;}
.adresslist .a1sel{background:url(../images/ico/product02.png) no-repeat left center;color:#fe523a}
.adresslist .a1{display:inline-block;padding-left:.4rem;background:url(../images/ico/product02-1.png) no-repeat left center;background-size:.3rem;color:#999;font-size: .18rem;    position: absolute;
    top: 0;}
.adresslist .a2{display:inline-block;padding-left:.38rem;background:url(../images/ico/adress02.png) no-repeat left center;background-size:.25rem;color:#999;position:absolute;right:0;top:0;font-size: .18rem;}
.adresslist .a3{background-image:url(../images/ico/adress01.png);right:0rem;font-size: .18rem;}
.eeebg,input.eeebg{background:#eee}
.winscroll .adresslist{width:93%;margin:0 auto;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;}
.proinfocheck .btnbox{position:absolute;left:0;bottom:0;z-index:10;background:#fff;line-height:.72rem;height:.72rem;width:100%}
.proinfocheck .btnbox .sub01{width:100%}
.proinfocity .tit{  background: #fff;  width: 100%;
    line-height: .72rem;
    height: .72rem;
    text-align: center;
    font-size: .28rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    color: #73d3cb;
    border-bottom: 1px solid #73d3cb;}
.proinfocity .tit a{    z-index: 5;
    position: absolute;
    right: 5%;
    top: .25rem;
    display: block;
    width: .28rem;
    height: .28rem;
    background: url(../images/close01.png) no-repeat center center;
    background-size: .28rem .28rem;}
.proinfocity .tit a.back{background:url(../images/arrow03.png) no-repeat center center;background-size:.3rem;right:auto;left:3%}
.proinfocity .tit a{z-index:5;position:absolute;right:3%;top:0;display:block;width:.5rem;height:.73rem;background:url(../images/close01.png) no-repeat center center;background-size:.28rem;}
.proinfocity .tit01{    width: 94%;
    padding: 0rem 3% 0;
    line-height: 1rem;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    left: 0;
    top: 0.73rem;
    z-index: 5;
    background: #fff;
    height: .72rem;}
.proinfocity .tit01 a{display:inline-block;padding:0 .1rem;margin-right:.5rem;font-size:.22rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;max-width:30%;border-bottom:3px solid #fff;height:.73rem;}
.proinfocity .tit01 a.sel{border-color:#faafa9;color: #faafa9;}
.proinfocity menu{overflow:auto;width:100%;height:100%}
.proinfocity .bg{width:100%;height:1.5rem}
.proinfocity menu a{display:block;width:95%;padding: .18rem 0 .18rem 4.6%;}
.proinfocity menu a.sel span{background-size:.4rem;color:#faafa9;}
.proinfocity menu a span{display:inline-block;padding-right:.55rem;font-size: .22rem;}
/*-----------------------产品详情-640-swiper-banner-------------------------*/
html, body {
    position: relative;
    height: 100%;
}
body {
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container .swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container .swiper-slide a img{display: block;}
.swiper-container .swiper-pagination-bullet{opacity: 1; width: .18rem;
    height: .18rem;}
.swiper-container .swiper-pagination-bullet-active {}
.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{    bottom: 0.33rem;
    height: .29rem;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{    margin: 0 .06rem;}
.swiper-pagination-bullet-active {background: #6dd1c9!important;}
.swiper-pagination-bullet {background: #fff;}