*{margin: 0;padding: 0;}
/*-----------body里的默认字体大小24px------------*/
/*html{font-size: 62.5%;/!*-----10/16*100%=62.5%---------------*!/}*/
body{font-size: .24rem;}
a{text-decoration: none;color:#ddd;}
li{list-style: none;}
.nav{overflow: hidden;}
.nav ul li{float: left;}
.nav ul li a{display: block;}